body{
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 1fr;
}
.header{
    height: 100px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.display{
    border: solid rgb(180, 180, 180) 20px;
    background-color: black;
    width: 500px;
    height: 550px;
    margin-top: -400px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.pictures{
    height: 600px;
    width: 500px;

}
#pokemon{
    width: 250px;
}
#btn{
    background-color: chartreuse;
    border-radius: 10px;
    width: 100px;
    margin-top: 5px;

}
h3{
    color: white
}
h4{
    color: white
}
#pokeName{
    margin: 25px;
    margin-top: 10px;
}
#pokeType{
    margin: 25px
}
#pokeNum{
    margin: 25px
}
#pokeHP{
    margin: 25px
}
#pokeAttack{
    margin: 25px
}
#pokeHeight{
    margin: 25px
}
#pokeWeight{
    margin: 25px
}
#pokeAbility1{
    margin: 25px
}
#pokeAbility2{
    margin: 25px
}
#frontPokeImg{
    height: 200px;
    width: 200px;
}
#backPokeImg{
    height: 200px;
    width: 200px;
}
#charizard{
    height: 300px;
    width: 300px;
    margin-left: 40px;
}
#eevee{
    height: 300px;
    width: 300px;
    margin-left: -100px;
}

#pikachu{
    height: 300px;
    width: 300px;
    margin-left: -50px;
}
